Package: com.thuthuatjb.hidejb
Name: HideJB
Depends: mobilesubstrate, ws.hbang.common, applist, preferenceloader
Version: 2.1
Architecture: iphoneos-arm
Description: Hide Jailbreak for iOS App.
Maintainer: TTJB Team <admin@thuthuatjb.com>
Author: TTJB Team <admin@thuthuatjb.com>
Section: Tweaks
