Package: com.thuthuatjb.hidejb
Name: HideJB
Depends: mobilesubstrate, ws.hbang.common (>= 1.13.1), applist, preferenceloader
Provides: com.thuthuatjb.ibhelpervn
Conflicts: com.thuthuatjb.ibhelpervn
Replaces: com.thuthuatjb.ibhelpervn
Version: 2.0.6
Architecture: iphoneos-arm
Description: Hide Jailbreak for iOS App
Maintainer: TTJB Team
Author: TTJB Team
Section: Tweaks
