<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>subtitleColor</key>
			<string>#aaaaaa</string>
			<key>titleColor</key>
			<string>#EE2525</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thủ Thuật Jailbreak</string>
			<key>user</key>
			<string>thuthuatjb</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NOITICE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>key</key>
			<string>enabled_hidejb</string>
			<key>label</key>
			<string>ENABLE_HIDEJB</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>whitelist</string>
			<key>defaults</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>key</key>
			<string>mode</string>
			<key>shortTitles</key>
			<array>
				<string>ONLY_SELECTED</string>
				<string>ALL_APPS</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>ONLY_SELECTED</string>
				<string>ALL_APPS</string>
			</array>
			<key>validValues</key>
			<array>
				<string>whitelist</string>
				<string>blacklist</string>
			</array>
		</dict>
		<dict>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.thuthuatjb.hidejb.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>SELECT_APPS</string>
		</dict>

		<dict>
			<key>PostNotification</key>
			<string>ThuthuatJBHideJBPreferencesChangedNotification</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>key</key>
			<string>enabled_nosub</string>
			<key>label</key>
			<string>ENABLE_FORCETOUCH_NOSUB</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>key</key>
			<string>enabled_bypass_plus</string>
			<key>label</key>
			<string>BYBASS_PLUS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>key</key>
			<string>enabled_dyld_filter</string>
			<key>label</key>
			<string>ADVENTURE_FILTERS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>PP_MODE</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.thuthuatjb.hidejb.plus+.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NOITICE_SCAN_FILE_MAP</string>
			<key>label</key>
			<string>FILE_MAP</string>
		</dict>
		<dict>
			<key>action</key>
			<string>scan_map:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>CANCEL</string>
				<key>okTitle</key>
				<string>Continue</string>
				<key>prompt</key>
				<string>CONFIRM_SCAN_FILE_MAP</string>
				<key>title</key>
				<string>OK</string>
			</dict>
			<key>label</key>
			<string>SCAN_FILE_MAP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thuthuatjb.hidejb</string>
			<key>key</key>
			<string>enabled_auto_scan_file_map</string>
			<key>label</key>
			<string>AUTO_SCAN_FILE_MAP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HideJB by TTJB Team
Icon from iconfinder
Thank to Nepeta, jjolano, inoahdev for some code</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>reset:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>confirmation</key>
			<dict>
				<key>cancelTitle</key>
				<string>CANCEL</string>
				<key>okTitle</key>
				<string>RESET</string>
				<key>prompt</key>
				<string>NOTICE_RESET</string>
				<key>title</key>
				<string>RESET</string>
			</dict>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>RESET</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Facebook Fanpage</string>
			<key>subtitle</key>
			<string>FOLLOW_US_ON_FB</string>
			<key>url</key>
			<string>https://fb.com/thuthuatjb</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>TTJB Repo</string>
			<key>subtitle</key>
			<string>FIND_MORE_TWEAK</string>
			<key>url</key>
			<string>https://repo.thuthuatjb.com</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE</string>
			<key>subtitle</key>
			<string>SUPPORT_US</string>
			<key>url</key>
			<string>https://thuthuatjb.com/donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>HideJB</string>
</dict>
</plist>
